@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
  background-color: #FAEBD7;
}

header {
  background-color: #6495ED;
  text-align: right;
  padding: 20px;
}

header a {
  text-decoration: none;
  color: #FAEBD7;
}

header ul li {
  list-style-type: none;
  padding: 5px;
}

nav a {
  color: #FAEBD7 ;
}

nav a:active {
  color: #DEB887;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

main {
  background-color: #FAEBD7;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

article {
  background-color: white;
  margin: 25px 15px;
  padding: 20px 30px;
  box-shadow: 3px 3px 5px rgb(177, 176, 176);
}

article a {
  text-decoration: none;
  color: #6495ED;
}

article a:active {
  color: #DEB887;
}

article a:hover {
  text-decoration: underline;
}

article div {
  color: gray;
}

h2 {
  margin-top: 5px;
  text-align: left;
}

h1, h2 a {
  color: black;
  font-family: lora;
}

h2 a:active {
  color: #DEB887;
}

h2 a:hover {
  color: #6495ED;
  text-decoration: underline;
}

figure {
  margin: 0 auto;
  max-width: 200px;
}

figure img {
  max-width: 200px;
}


/* END OF SMALL VIEW */




@media only screen and (min-width: 600px) {

  div {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  nav a {
    padding: 0;
    font-size: 85%
  }

}

/* END OF MEDIUM VIEW */

@media only screen and (min-width: 800px) {

  figure {
    margin: 30px 0;
  }

}

/* END OF LARGE VIEW */